.hero-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url('../hero-banner.jpg');
}

@media only screen and (max-width: 1150px) {
  .hero-img {
    background-image: url('../hero-banner-mobile.jpg');
  }
}